.app { 
    width: 100%;
   
}
.container{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 860px;
  
}

.container div{
    display: flex;
    padding: 10px;
    margin-top: 40px;
}